.game__container {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(220, 14%, 9%);
  padding: 2rem;
}

.game__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-btn__start,
.game-btn__stop,
.game-btn__random,
.game-btn__clear {
  display: block;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: hsl(214, 100%, 97%);
  background-color: hsl(25, 97%, 53%);
  padding: 0.6rem 2rem;
  letter-spacing: 2px;
  transition: all 150ms ease-in-out;
}
.game-btn__start:hover,
.game-btn__stop:hover,
.game-btn__random:hover,
.game-btn__clear:hover {
  background-color: hsl(214, 100%, 97%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.game__counter {
  display: block;
  font-size: 1.8rem;
  margin: 1rem;
  color: hsl(214, 100%, 97%);
}
.game__counter span {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.game__grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.grid__table {
  background: radial-gradient(
    circle,
    rgba(33, 41, 51, 1) 0%,
    rgba(23, 30, 40, 1) 100%
  );
}

td {
  border: 1px solid hsl(0, 0%, 61%);
  width: 1rem;
  height: 1rem;
}
